# bytecode files
__pycache__

# Logs
logs_training.csv

# Dev files
for_developers.txt
PyPI_README.md
release.sh

# Local files
checkpoints
data
json_files
environment.yml

# Env
.venv
venv
.env

# Pytest
.pytest_cache
report.xml